.js-scrollin {
  opacity: 0;
  translate: 0 12px;
}

.js-scrollin.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.4s ease,
    translate 0.4s ease;
}

.l-bg--left-top {
  animation: bg-left-top 2.5s ease-in-out infinite alternate-reverse;
}

.l-bg--left-bottom {
  animation: bg-left-bottom 2.5s ease-in-out infinite alternate-reverse;
}

.l-bg--right-top {
  animation: bg-right-top 2.5s ease-in-out infinite alternate-reverse;
}

.l-bg--right-bottom {
  animation: bg-right-bottom 2.5s ease-in-out infinite alternate-reverse;
}

.l-thought__pop--top {
  animation: floating 2.5s ease-in-out infinite alternate-reverse;
}

.l-thought__pop--bottom {
  animation: floating-bottom 2.5s ease-in-out infinite alternate-reverse;
}

@keyframes bg-left-top {
  0% {
    translate: 0;
  }

  100% {
    translate: -5px -8px;
  }
}

@keyframes bg-left-bottom {
  0% {
    translate: 0;
  }

  100% {
    translate: -5px 8px;
  }
}

@keyframes bg-right-top {
  0% {
    translate: 0;
  }

  100% {
    translate: 5px -8px;
  }
}

@keyframes bg-right-bottom {
  0% {
    translate: 0;
  }

  100% {
    translate: 5px 8px;
  }
}

@keyframes floating {
  0% {
    translate: 0;
  }

  100% {
    translate: 5px -8px;
  }
}

@keyframes floating-bottom {
  0% {
    translate: 0;
  }

  100% {
    translate: 5px 8px;
  }
}

@keyframes pendulum {
  0% {
    opacity: 0;
    translate: -4px;
    rotate: 4deg;
  }

  25% {
    opacity: 1;
    translate: 3px;
    rotate: -3deg;
  }

  50% {
    opacity: 1;
    translate: -2px;
    rotate: 2deg;
  }

  75% {
    opacity: 1;
    translate: 1px;
    rotate: -1deg;
  }
  
  100% {
    opacity: 1;
    translate: 0;
    rotate: 0;
  }
}
